@import '../baseComponent/baseVariables&Mixins.scss';
.flexConteiner {
  display: flex;
}

.JIStart {
  justify-items: start;
}
.JIEnd {
  justify-items: end;
}
.JICenter {
  justify-items: center;
}
.JIAuto {
  justify-items: auto;
}
.JIBaseline {
  justify-items: baseline;
}
.JIStretch {
  justify-items: stretch;
}
.JCStart {
  justify-content: start;
}
.JCEnd {
  justify-content: end;
}
.JCSpaceBetween {
  justify-content: space-between;
}
.JCSpaceAround {
  justify-content: space-around;
}
.JCSpaceEvenly {
  justify-content: space-evenly;
}
.JCCenter {
  justify-content: center;
}
.JCStretch {
  justify-content: stretch;
}
.AIStart {
  align-items: start;
}
.AIEnd {
   align-items: end;
}
.AICenter {
  align-items: center;
}
.AIAuto {
  align-items: auto;
}
.AIBaseline {
  align-items: baseline;
}
.AIStretch {
  align-items: stretch;
}
.ASStart {
  align-self: start;
}
.ASEnd {
   align-self: end;
}
.ASCenter {
  align-self: center;
}
.ASAuto {
  align-self: auto;
}
.ASBaseline {
  align-self: baseline;
}
.ASStretch {
  align-self: stretch;
}
.ACStart {
  align-content: start;
}
.ACEnd {
  align-content: end;
}
.ACSpaceBetween {
  align-content: space-between;
}
.ACSpaceAround {
  align-content: space-around;
}
.ACSpaceEvenly {
  align-content: space-evenly;
}
.ACCenter {
  align-content: center;
}
.ACStratch {
  align-content: stretch;
}
.FDRow {
  flex-direction: row;
}
.FDColomn {
  flex-direction: column;
}
.FDRowReverse {
  flex-direction: row-reverse;
}
.FDColomnReverse {
  flex-direction: column-reverse;
}
.FWWrap {
  flex-wrap: wrap;
}
.FWNoWrap {
  flex-wrap: nowrap;
}
.FWWrapReverse {
  flex-wrap: wrap-reverse;
}
