@import "../baseComponent/baseVariables&Mixins.scss";

.form__validationMessage {
  margin-top: -10px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
}
legend {
  @include h3;
  // &:not(legend) {
  //   margin-bottom: -10px;
  // }
}
