@import '../baseComponent/baseVariables&Mixins.scss';

.roomPage {

}

.orderForm {

}
.orderForm__totalAmound {
margin-top: 10px;
}
.orderForm__dotDecor {
  width: auto;
  flex-grow: 1;
  margin: 0 5px 0.2rem;
  border-bottom: 1px $color1Opacity25 dashed;
}
