@import "../baseComponent/baseVariables&Mixins.scss";

.reviewList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: $width_size_s;
    overflow: auto;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 5px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {

      background-color: $color1Opacity05;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color1Opacity10;
      border-radius: 20px;
    }
}