@import '../baseComponent/baseVariables&Mixins.scss';

.layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.layout__wrap1 {
  max-width: $max_width;
  width: 100%;

  
}
.layout__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;

}