@import '../baseComponent/baseVariables&Mixins.scss';


.radioButton {
  @include baseText;
  color: $color1Opacity50;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  * {
    cursor: pointer;
  }
}
.radioButton__field {
  position: relative;
  display: flex;
  align-items: center;
  &.radioButton__field_checked + .radioButton__label {
    color: $color1Opacity75;
  }
  .radioButton__button:checked ~ .radioButton__checkmark {

    border-color: $color2;
    .radioButton__innerPoint {
      display: inline-block;
    }
  }
  .radioButton__button:focus  ~ .radioButton__checkmark  {
    outline: auto;
  }
}
.radioButton__button {
  outline: none;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.radioButton__checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  // z-index: -1;
  border: 1px solid $color1Opacity25;
  border-radius: 50%;
}
.radioButton__innerPoint {
  display: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  @include linearGradient(background, $color2, $color2Gradiend);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radioButton__label{
  font: inherit;
  color: inherit;
  padding-left: 10px;
}
