@import "../baseComponent/baseVariables&Mixins.scss";

.textField  {
  display: inline-flex;
  position: relative;
  max-width: $width;
  @include field;
  &.textField_disabled {
    background-color: $color1Opacity05;
    * {
      background-color: transparent;
    }
    &:hover {
      border-color: $color1Opacity25;
    }
  }
  & > *:first-child {
    width: 100%;
    border: none;
    outline: none;
    display: flex;
    // justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    color: inherit;
    line-height: inherit;
    font: inherit;
  }
}
